@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Welcome Guest</PageTitle>

<div class="login-background">
    <div class="login-shell">
        <div class="login-card-wrapper">
            <MudPaper Elevation="10" Class="login-card pa-8" Width="100%" MaxWidth="460px">
                @Body
            </MudPaper>
        </div>
    </div>
</div>
