@page "/addcard"
@layout MainLayout
@attribute [Authorize(Roles = "Admin")]

<NavigationLock ConfirmExternalNavigation="@HasUnsavedChanges"
                OnBeforeInternalNavigation="ConfirmInternalNavigation" />

<div class="add-account-page">
    <MudBreadcrumbs Items="BreadcrumbItems" />

    <div class="page-heading">
        <MudText Typo="Typo.h4">Add account</MudText>
        <MudText Typo="Typo.body2" Color="Color.Secondary">
            Save the account details and credentials you want to manage.
        </MudText>
    </div>

    <EditForm EditContext="@FormContext" OnValidSubmit="SaveCard" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />

        <AccountFormFields @ref="AccountForm"
                           Model="oModel"
                           SearchAccountTypes="SearchAccountTypes"
                           IsSaving="IsSaving"
                           IsLoadingFormData="IsLoadingFormData"
                           IsGenerating="IsGenerating"
                           IsPasswordVisible="IsPasswordVisible"
                           CanGeneratePassword="@(PasswordSettings is not null)"
                           PasswordSettingsDescription="PasswordSettingsDescription"
                           CredentialsDescription="Enter the sign-in information for this account."
                           SubmitText="Add account"
                           SubmittingText="Adding account…"
                           SubmitIcon="@Icons.Material.Filled.Add"
                           TogglePasswordVisibility="TogglePasswordVisibility"
                           GeneratePassword="GeneratePassword"
                           CopyPassword="CopyPassword"
                           Cancel="CancelCard" />
    </EditForm>
</div>
