@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Welcome Guest</PageTitle>

<MudLayout>
    <MudMainContent Class="cbg">
        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
            <div class="d-flex flex-column mud-width-full">
                <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
                    @Body
                </MudPaper>
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>

<style>
    .cbg {
        /* The image used */
        background-image: url('images/bglogin.jpg');
        /* Full height*/
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>