@page "/login"
@layout LoginLayout



<div>

    <img src="../images/ansaarsoftlogo.png" style="width: 200px; display: block; margin-left: auto; margin-right: auto;" />

    <MudText Typo="Typo.h4" GutterBottom="true">Sign In</MudText>

    <MudText>Welcome to Password Management System</MudText>

    <MudTextField T="string" @bind-Value="oModel.UserCode" Label="User Code" Variant="Variant.Outlined" Class="my-6"></MudTextField>

    <MudTextField T="string" @bind-Value="oModel.Password" OnKeyDown="PasswordKeypress" Immediate=true Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" 
    Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />

</div>

<div Class="d-flex justify-space-between align-center">
    <MudCheckBox T="bool" @bind-value="flgRememberme" Label="Remember me?" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
</div>
<MudAlert Severity="Severity.Info" Class="mt-8 mud-width-full" Style="max-width:500px;">For registration and login contact MFM ®.</MudAlert>

<MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true" OnClick="CheckLogin" Disabled="flgClicked">
    @if (flgClicked)
    {
        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"></MudProgressCircular>
        <MudText Class="ms-1">Sign In</MudText>
    }
    else
    {
        <MudText>Sign In</MudText>
    }

</MudButton>




